*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

.Menu{
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-image: url(../pics/upfon.png);
}
.img{
	height: 353px;
	width: 616px;
	: right;
}

body{
	height: 100%;
	width: 100%;
}

.Header{
	text-align: center;
	color: white;
	width: 100%;
}

.steam_img{
	width: 100%;
}

.gamename1{
	text-align: center;
	width: 100%;
}	

.TopGames{
    font: 12pt sans-serif;  
    font-size: 35px;
    text-align: left;
} 	

.TopDiv{
	height: 50px;
}